body {
    background-image: url(../images/usethis.jpg);
  }
  
  .logo {
    width: 700px;
    height: 150px;
    left: 600px;
    padding-top: 20px;
    position: relative;
  }
  
  .textbox {
    width: 500px;
    height: 45px ;
    position: relative;
    left: 36%;
    margin-top: 20px;
  }
  
  .button {
    background-color: black;
    color: white;
    height: 80px;
    width: 250px;
    position: relative;
    left: 42%;
    margin-top: 30px;
  }
  
  